.nav-title {
    font-size: calc(2rem + 1.5vw)!important;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.accordion .accordion-button, .accordion .accordion-button, .accordion .accordion:not(.collapsed)  {
    background-color: transparent;
    color: black;
    box-shadow: none;
    padding: 0.5rem 1rem;
}

.accordion-button:not(.collapsed)::after {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-body {
    padding: 0.5rem 1rem;
}